<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Dan energy smoothies. Get your fill</h2>
    <h3>By smoothalicious</h3>
    <a href="/smoothies"><button type="button">View all</button></a>
  </div>
</header>


<%- include('partials/footer'); -%>